<!-- web/templates/listar_arriendos.html -->
{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Listado de Arriendos</h2>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Equipo</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Observación</th>
                <th>Dañado</th>
            </tr>
        </thead>
        <tbody>
            {% for arriendo in arriendos %}
            <tr>
                <td>{{ arriendo.equipo.nombre }}</td>
                <td>{{ arriendo.fecha }}</td>
                <td>{{ arriendo.user.username }}</td>
                <td>{{ arriendo.observacion }}</td>
                <td>{{ arriendo.danado|yesno:"Sí,No" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}