{% extends "base.html" %}

{% block content %}
<section class="section-1" id="formacion-academica">
    <div class="container">
        <h1 class="text-center mb-5" data-aos="fade-up">Formación Académica</h1>
    </div>
</section>

<!-- Nueva sección de texto debajo del título -->
<section class="section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1" data-aos="fade-up" data-aos-duration="1000">
                <p class="lead text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Primera Institución -->
<section class="section-1">
    <div class="container">
        <div class="row align-items-center mb-5" data-aos="fade-right" data-aos-duration="1000">
            <div class="col-md-5">
                <div class="card">
                    <img src="/static/img/mba.jpg" class="card-image" alt="MBA">
                    <div class="card-body">
                        <h5 class="card-title">MBA Magíster en Gestión Empresarial</h5>
                        <p class="card-subtitle">2020, Santiago</p>
                        <div class="icon-text-container d-flex align-items-center mb-2">
                            <i class='bx bxs-graduation'></i>
                            <p>Universidad Técnica Federico Santa María</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div data-aos="fade-left" data-aos-duration="1000">
                    <h5 class="small-text mb-2">Logros destacados</h5>
                    <p class="small-text">
                        Adquirí habilidades estratégicas en gestión empresarial, lideré proyectos de transformación digital y fui parte del cuadro de honor por mi desempeño académico.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sección limpia para fondo de imagen (section-2) -->
<section class="section-2 clean-section" id="clean-section-1">
    <div class="clean-background">
        <!-- Aquí puedes insertar la imagen de fondo a través de CSS -->
    </div>
</section>

<!-- Segunda Institución -->
<section class="section-1">
    <div class="container">
        <div class="row align-items-center mb-5" data-aos="fade-right" data-aos-duration="1000">
            <div class="col-md-7">
                <div data-aos="fade-right" data-aos-duration="1000">
                    <h5 class="small-text mb-2">Logros destacados</h5>
                    <p class="small-text">
                        Participé en proyectos de eficiencia energética y optimización de procesos industriales. Especialización en sostenibilidad y tecnologías de innovación industrial.
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <img src="/static/img/ingenieria.jpg" class="card-image" alt="Ingeniería Civil">
                    <div class="card-body">
                        <h5 class="card-title">Ingeniería Civil Industrial</h5>
                        <p class="card-subtitle">2020, Santiago</p>
                        <div class="icon-text-container d-flex align-items-center mb-2">
                            <i class='bx bxs-graduation'></i>
                            <p>Universidad Técnica Federico Santa María</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sección limpia para fondo de imagen (section-2) -->
<section class="section-2 clean-section" id="clean-section-2">
    <div class="clean-background">
        <!-- Aquí puedes insertar la imagen de fondo a través de CSS -->
    </div>
</section>

<!-- Tercera Institución -->
<section class="section-1">
    <div class="container">
        <div class="row align-items-center mb-5" data-aos="fade-left" data-aos-duration="1000">
            <div class="col-md-5">
                <div class="card">
                    <img src="/static/img/acuicultura.jpg" class="card-image" alt="Ingeniería en Acuicultura">
                    <div class="card-body">
                        <h5 class="card-title">Ingeniería en Acuicultura</h5>
                        <p class="card-subtitle">2020, Santiago</p>
                        <div class="icon-text-container d-flex align-items-center mb-2">
                            <i class='bx bxs-graduation'></i>
                            <p>Universidad de Los Lagos</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div data-aos="fade-right" data-aos-duration="1000">
                    <h5 class="small-text mb-2">Logros destacados</h5>
                    <p class="small-text">
                        Desarrollé sistemas innovadores de manejo de aguas para criaderos acuícolas, promoviendo la producción sostenible y obteniendo reconocimiento por innovación.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sección limpia para fondo de imagen (section-2) -->
<section class="section-2 clean-section" id="clean-section-3">
    <div class="clean-background">
        <!-- Aquí puedes insertar la imagen de fondo a través de CSS -->
    </div>
</section>

<!-- Cuarta Institución -->
<section class="section-1">
    <div class="container">
        <div class="row align-items-center mb-5" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-md-7">
                <div>
                    <h5 class="small-text mb-2">Logros destacados</h5>
                    <p class="small-text">
                        Implementé aplicaciones web escalables con Python y tecnologías front-end, ayudando a diversas industrias a digitalizar sus operaciones.
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <img src="/static/img/fullstack.jpg" class="card-image" alt="Full Stack Python">
                    <div class="card-body">
                        <h5 class="card-title">Desarrollador Full Stack Python</h5>
                        <p class="card-subtitle">2020, Santiago</p>
                        <div class="icon-text-container d-flex align-items-center mb-2">
                            <i class='bx bxs-code'></i>
                            <p>Certificación</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sección limpia para fondo de imagen (section-2) -->
<section class="section-2 clean-section" id="clean-section-4">
    <div class="clean-background">
        <!-- Aquí puedes insertar la imagen de fondo a través de CSS -->
    </div>
</section>

<!-- Quinta Institución -->
<section class="section-1">
    <div class="container">
        <div class="row align-items-center mb-5" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-md-5">
                <div class="card">
                    <img src="/static/img/ensena.jpg" class="card-image" alt="Enseña Chile">
                    <div class="card-body">
                        <h5 class="card-title">Profesional Enseña Chile</h5>
                        <p class="card-subtitle">2020, Santiago</p>
                        <div class="icon-text-container d-flex align-items-center mb-2">
                            <i class='bx bxs-graduation'></i>
                            <p>Enseña Chile</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div data-aos="fade-left" data-aos-duration="1000">
                    <h5 class="small-text mb-2">Logros destacados</h5>
                    <p class="small-text">
                        Implementé metodologías innovadoras en educación, trabajando en áreas vulnerables para mejorar la calidad educativa de jóvenes estudiantes.
                    </p>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="learn-more" data-aos="zoom-in" data-aos-duration="1000">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                <span class="button-text">Saber Más</span>
            </button>
        </div>
    </div>
</section>
{% endblock %}