<!-- web/templates/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Frutería</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-items-center" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">Home</a>
                </li>
                
                {% if user.is_authenticated and user.userprofile.tipo == 'administrador' %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/ventas/' %}active{% endif %}" href="{% url 'ventas' %}">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/ingresar_stock/' %}active{% endif %}" href="{% url 'stock' %}">Ingresar Stock</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto align-items-center">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <!-- Mostrar el nombre del usuario o su username si no tiene nombre configurado -->
                        <span class="navbar-text text-light me-2">
                            Hola, {{ user.first_name|default:user.username }}
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-warning ms-2" href="{% url 'logout' %}">SALIR</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Registro</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>